html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-glow-white {
    text-shadow: white 0px 0px 5px;
}

.text-glow-red {
    text-shadow: red 0px 0px 5px !important; 
}