@model DeviceClass

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden></inpud>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr/>
        </div>
        <div class="mb-3">
    <label asp-for="Name" class="mb-1"></label>
    <input asp-for="Name" class="form-control" disabled></input>
    </div>
    <button type="submit" class="btn btn-danger-glow" style="width:150px">Delete</button>
    <a asp-controller="DeviceClass" asp-action="Index" class="btn btn-yellow-glow" style="width:150px; margin-left:20px;">
        Back to List
    </a>

    </div>
</form>

@section Scripts{
@{
<partial name="_ValidationScriptsPartial" />
}
}