@model IEnumerable<DeviceClass>
@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary mt-3">Device class List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="DeviceClass" asp-action="Create" class="btn mb-3 btn-green-glow">
                <i class="bi bi-plus-square"></i> &nbsp Create new device class
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped text-center" style="width:100%">
<thead>
    <tr>
        <th>
            Device Class
        </th>
<th></th>
    </tr>
</thead>
<tbody>
        @foreach(var obj in Model)
        {
            <tr> <td class="text-glow-white" style="text-align:center; vertical-align:middle; width:33%;"> @obj.Name </td>
             <td style="width:33%;"> 
                 <div role="group">
                     <a asp-controller="DeviceClass" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-yellow-glow float-md-none"> <i class="bi bi-pencil-square"></i> Edit</a>
                 <a asp-controller="DeviceClass" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger-glow float-end"> <i class="bi bi-pencil-square"></i> Delete</a>
                 </div>
             </td>
        </tr>
        }
    </tbody>
</table>