@model User

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Register</h2>
            <hr/>
        </div>
        <div class="mb-3">
    <label asp-for="Login" class="mb-1"></label>
    <input asp-for="Login" class="form-control"/>
    </div>
    <div class="mb-3">
    <label asp-for="Password" class="mb-1"></label>
    <input asp-for="Password" class="form-control"></input>   
</div>
    <button type="submit" class="btn btn-green-glow" style="width:150px">Register</button>
    </div>
</form>
